.container {
  background-color: aqua;
  border: 2px solid black;
}

.turn {
  background-color: yellow;
}

.board {
  background-color: slateblue;
  width: 300px;
}

.cellBtn {
  width: 100px;
  height: 100px;
}
